
<div style="  background: #009688;
color: rgb(190, 190, 190);">

<h2 class="mt-2 text-center text-warning" style="padding-top: 1%;">The future is now</h2>


<div class="d-flex justify-content-center">
  <button class="btn btn-secondary" (click)="toggleForm()">Submit your own blog</button>
</div>

<div class="text-center" >
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
            <form [formGroup] = "blogForm" (ngSubmit)="addblog()" *ngIf="showForm">

          <!-- <div class="mt-2">
            <input type="text" class="form-control" [(ngModel)]="blog.title" placeholder="Title">
          </div> -->

          <div class="mt-2">
            <input type="text" formControlName="title" class="form-control" name="title" placeholder="title">
        <div class="mt-1 text-danger " *ngIf="(Title?.invalid && Title?.dirty) || (Title?.invalid && Title?.touched)">
           TITLE IS REQUIRED
        </div>
        </div>


  
          <!-- <div class="mt-2">
            <input type="text" class="form-control" [(ngModel)]="blog.Content" placeholder="description">
          </div> -->

          <div class="mt-2">
            <input type="text" formControlName="content" class="form-control" name="content" placeholder="content">
        <div class="mt-1 text-danger " *ngIf="(Content?.invalid && Content?.dirty) || (Content?.invalid && Content?.touched)">
           CONTENT IS REQUIRED
        </div>
        </div>


        <div class="mt-2">
          <input type="text" formControlName="aname" class="form-control" name="aname" placeholder="author name">
      <div class="mt-1 text-danger " *ngIf="(Aname?.invalid && Aname?.dirty) || (Aname?.invalid && Aname?.touched)">
         AUTHOR NAME IS REQUIRED
      </div>
      </div>


      <div class="mt-2">
        <input type="text" formControlName="aemail" class="form-control" name="aemail" placeholder="author email">
    <div class="mt-1 text-danger " *ngIf="(Aemail?.invalid && Aemail?.dirty) || (Aemail?.invalid && Aemail?.touched)">
       AUTHOR EMAIL IS REQUIRED
    </div>
    </div>



  
          <div class="mt-2">
            <button class="btn btn-primary"  style="margin: 1%;">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  






  <!-- <div class="card-list" style="padding-top: 5%;">
    <div class="card" *ngFor="let blog of blogs">
      <div class="card-header">
        {{ blog.title }}
      </div>
      <div class="card-body" [ngClass]="{ 'expanded': blog.expanded }">
        <p>By: {{ blog.authorName }}</p>
        
        <p>Content: {{ blog.Content }}</p>

        <small>for more info contact: {{ blog.authorEmail }}</small>

       
      </div>
    </div>
</div> -->






<div class="container">
  <div class="row">
    <div class="card text-center col-md-3 mt-3 col-sm-10 m-4" *ngFor="let blog of blogs; let i = index">
      <div class="card-header p-0">
        <img src="{{ initialGifLinks[i] }}" alt="" class="w-100">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">Content: {{ blog.Content }}</p>
      </div>
      <div class="card-footer text-muted">
        For more info contact: {{ blog.authorEmail }}
      </div>
    </div>
  </div>
</div>





  
  








  

</div>